*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: repeating-linear-gradient(60deg, #B9ECFE, #B9ECFE 20px, #82DDFF 20px, #82DDFF 40px);
}

main{
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
    padding: 0 20px;
    background: #dfe8fa;
    border: 4mm ridge rgba(21, 202, 253, 0.6);
    padding-bottom: 20px;
}

textarea{
    width: 100%;
    height: 100px;
    border: 2px solid #31f9ff;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

.button{
    width: 100%;
    height: 40px;
    border: 5px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
    color: #333;
    font-size: 16px;
    cursor: pointer;
}

.invisible{
    width: 0%;
    height: 0px;
    border: 0px;
    border-radius: 0px;
    background-color: #f5f5f5;
    color: #f5f5f5;
}
.container{
    width: 120px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

.title:first-child{
    border-top: 1px solid #ccc;
}

a.disabled {
    pointer-events: none; /* делаем элемент неактивным для взаимодействия */
    cursor: default; /*  курсор в виде стрелки */
    color: #888;/* цвет текста серый */
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 50%;
}

 /* The alert message box */
.alert {
    padding: 20px;
    background-color: #ff1805; /* Red */
    color: #070000;
    margin-bottom: 15px;
    border: #0a0000;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
#footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    margin-left: auto;
    margin-right: auto;
    background: whitesmoke;
    border: 1mm ridge rgba(21, 202, 253, 0.6);
   }

#footer a {
    text-decoration: none;
    color: #070000;;
    border: 1mm ridge rgba(21, 202, 253, 0.6);
}

#footer a:hover {
    color: #064579;
}

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.login {
    position: static;
    justify-items: auto;
    max-width: 600px;

}
a.glow-button{
    background: #fff;
    text-decoration: none;
    color: #070000;;
    border: 1mm ridge rgba(21, 202, 253, 0.6);
}




/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

#fileInput {
	display:none;
}
#fileInputB {
	display:none;
}

h4 {
padding: 60px 16px 8px 16px;
}
.rounded {
    counter-reset: li;
    list-style: none;
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.rounded a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
}
.rounded a:hover {background: #E9E4E0;}
.rounded a:hover:before {transform: rotate(360deg);}
.rounded a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #8FD4C1;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.button9 {
  position: relative;
  display: inline-block;
  color: #0a0000;
  font-weight: bold;
  text-decoration: none;
  text-shadow: rgba(91, 85, 85, 0.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
  user-select: none;
  padding: 1em 2em;
  outline: none;
  border-radius: 3px / 100%;
  background-image:
   linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
   linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
}
.button9:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}
.button9:active {
  top: 4px;
}


img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

input[type="date"] {
  background: transparent;
  color: white;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}