<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
</head>
<body>
<div class="login">
    {% if authorized %}
        <a href="/logout" class="glow-button">Выход</a>
    {% else %}
        <a href="/login" class="glow-button">Вход</a>
        <a href="/sign_up" class="glow-button">Регистрация</a>
    {% endif %}
</div>

<main>
    <h1>ToDo - список задач</h1>
    <br>
    {% block content %}

    {% endblock content %}
</main>
<div id="footer">
    <b style="color: #333333">  &copy; ToDo  </b>
    <a href="/homepage">Главная</a>
    <a href="/list">Список задач</a>
    <a href="/import_export">Импорт и экспорт</a>
    <a href="/generate">Генерация</a>
    <a href="/visualize">Визуализация</a>
    <a href="/cabinet">Личный Кабинет</a>
    <a href="/import_issues">Импорт issues</a>
    <a href="/import_log">Файлы</a>

</div>
</body>
</html>