{% extends 'base.html' %}
{% block content %}
<div>
    <br>
        {% for todo in todos %}
            <div class="task">
                {% if todo.completed %}
                <strike>{{ todo.title }}</strike>
                {% else %}
                <small>
                     <a class="pulse" href="edit/{{ todo.id }}">Редактировать</a>
                        <a class="pulse" href="delete/{{ todo.id }}">Удалить</a>
                        <form action="complete/{{ todo.id }}">
                            {% if todo.completed %}
                                <button class="button-grad" type="submit"> Выполнено</button>
                            {% endif %}
                            {% if  not todo.completed %}
                                <button class="button-grad" type="submit"> Не выполнено</button>
                            {% endif %}
                        </form>
                </small>
            </div>
        {% endfor %}
</div>

{% endblock content %}