{% extends 'base.html' %}

{% block content %}
{% if textarea == True %}
<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    Слишком длинный заголовок (больше 500 символов)
</div>
{% endif %}
<form action="/edit/{{todo.id}}?skip={{ skip }}&limit={{ limit }}" method="post">
    <div class="title">
        <h2>Заголовок задачи</h2>
    </div>
    <textarea name="title" rows="5">{{todo.title}}</textarea>
    <textarea name="details" rows="5" placeholder="Подробное описание задачи">{{todo.details}}</textarea>
    <em>Дата создания: </em> {{todo.current_datetime}}
    <select name="tag_choose">
        {% for item in Tag %}
        <option {% if todo.tag_choose== item.name %}selected {% endif %}value={{ item.name }}>{{ item.value }}</option>
        {% endfor %}
    </select>
    <label for="completed">Выполнено?</label>
    <input type="checkbox" name="completed" {% if todo.completed %}checked{% endif %}>
    <label>Выполнено:{{todo.author}}</label>
    <br>
    <button class="button" type="submit">Сохранить</button>
</form>
{% endblock content %}
