{% extends 'base.html' %}

{% block content %}
<form action="/generate" method="post">
<p>Количество тудушек:<input type="text" size="10" name="count" rows="1" value="10"></input></p>
<br>
    <button type="submit" class="button">Генерация</button>
</form>
{% endblock content %}