{% extends 'base.html' %}

{% block content %}

    <p>2020-4-04</p>
    <ol class="rounded">
        <li><a href="#">* реализовать тесты к ручке import\_issues и редактированию тудушки</a></li>
        <li><a href="#">* реализовать страницу /import\_log с перечнем всех импортированных эксель-файлов. Для
            построение пути к эксельке использовать pathlib</a></li>
        <li><a href="#">+ реализовать на главной поле для настроки limit</a></li>
        <li><a href="#">+ реализовать страничку /import\_issues выгрузки issue заданного проекта из gitlab/gitwork (поля
            для ввода - URL, токен гитлаба) с превращением всех задач проекта в тудушки (title задачи -> title тудушки,
            описание задачи -> описание тудушки с учётом ограничения на длину, дата создания задачи -> дата создания
            тудушки)</a></li>
        <li><a href="#">* реализовать возможность хранения картинки в тудушке (отдельное поле). Рекомендуется картинку
            хранить на диске, а в тудушке хранить путь к ней</a></li>
        <li><a href="#">+ добавить страницу /generator, на которой дать возможность выбора числа тудушек для генерации и
            кнопки "сгенерировать"</a></li>
    </ol>

    <p> </p>
    <p> </p>

    <p>2020-4-24</p>
    <ol class="rounded">

        <li><a href="#">* реализовать тесты к ручке import\_log и удалению тудушки</a></li>
        <li><a href="#">+ реализовать учётку user:user с помощью simple-oauth2
            https://fastapi.tiangolo.com/tutorial/security/simple-oauth2/. Добавить кнопку авторизации, защитить
            авторизацией добавление и импорт тудушек - весь просмотр оставить доступным без авторизации</a></li>
        <li><a href="#">+ реализовать сохранение limit и page для списка тудушек при переходе по страницам (проброс
            URL-параметров везде. Можно реализовать по-другому, например, в cookie - по желанию). То есть после создания
            или редактирования тудушки надо оставаться на той же странице, где и был</a></li>
        <li><a href="#">+ заменить SQLite на PostgreSQL</a></li>
        <li><a href="#">+ добавить возможность регистрации новых пользователей</a></li>
        <li><a href="#">+ добавить в тудушку имя автора, кто её создал. Брать имя пользователя</a></li>
    </ol>

    <p> </p>
    <p> </p>

    <p>2020-4-05</p>
    <ol class="rounded">
        <li><a href="#">* реализовать тесты к ручке list и созданию тудушки</a></li>
        <li><a href="#">+ сформировать docker compose с поднятием приложения и базы данных</a></li>
        <li><a href="#">* реализовать поиск дубликатов загруженных картинок. Рекомендуется хранить хэш картинки и
            осуществлять поиск по хешу. При загрузке дубликата писать, что в этих тудушках такая картинка уже есть:
            список кликабельных ID тудушек</a></li>
        <li><a href="#">* на странице редактирования тудушки добавить возможность перехода на список тудушек с фильтром
            указанного типа (то есть из тудушки с типом "учёба" перейти на список, в котором только тудушки типа
            "учёба"). Сам фильтр делает другой участник</a></li>
        <li><a href="#">* добавить на странице тудушек фильтр типов, в котором можно выбрать типы тудушек для
            отображения. При выборе значений фильтровать тудушки, то есть показывать только тудушки выбранного типа</a>
        </li>
        <li><a href="#">* добавить возможность удаления всех тудушек или указанного диапазона</a></li>
        <li><a href="#">+ добавить в подвал /import\_log, /import\_issues и остальные ручки, какие есть</a></li>
    </ol>
    <p> </p>
    <p> </p>

    <p>2020-4-17</p>
    <ol class="rounded">
        <li><a href="#">* реализовать тесты к ручке импорта эксельки</a></li>

        <li><a href="#">* реализовать возможность фильтрации тудушек по дате создания "от" и "до", дату выбирать через
            готовый виджет-календарь. Допускается указание одной даты, тогда "от" указанного и дальше любая</a></li>
        <li><a href="#">* при редактировании тудушки дать возможность выбора среди всех изображений, загруженных
            ранее</a></li>
        <li><a href="#">* на кнопки удаления, импорта из эксельки и импорта из issue добавить всплывающее окно
            подтверждения</a></li>
        <li><a href="#">* модифицировать страницу редактирования тудушки, дополнив картинкой (и полем выбора картинки
            для загрузки)</a></li>
    </ol>


    <p> </p>
    <p> </p>


    <button onclick="document.location='/list'" class="button">К списку задач</button>

    <p> </p>


{% endblock content %}
