{% extends 'base.html' %}

{% block content %}
<form action="/import_issues" method="post">
    <p>url:&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" size="40" name="url" rows="1" value="https://gitlab.com/api/v4/issues"></input></p>
    <p>token:<input type="text" size="40" name="token" rows="1" placeholder="Введите token"></input></p>
    <button type="submit" class="button">Добавить</button>
</form>
{% endblock content %}