{% extends 'base.html' %}

{% block content %}

<b>Импорт и экспорт</b>

<h4>import</h4>
<form action="/import" enctype="multipart/form-data" method="post">
   <input type="file" name="uploading_file" class="button9">
   <br></br>
   <input type="submit" value="Отправить" class="button">
</form>

<h4>export</h4>
<a href="/export" download class="button" style="text-align: center">Скачать файл</a>
<br></br>

{% endblock content %}
