{% extends 'base.html' %}

{% block content %}
{% if textarea != None and textarea != "" %}
<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    Слишком длинный заголовок (больше 500 символов)
</div>
{% endif %}
{% if textarea == "" %}
<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    Не указан заголовок
</div>
{% endif %}
<form action="/add?skip={{ skip }}&limit={{ limit }}" method="post">
    <textarea name="title" rows="5"
              placeholder="Введите задачу">{% if textarea != None %}{{textarea}}{% endif %}</textarea>
    <button type="submit" class="button">Добавить</button>
</form>

<br>
<h2>Задачи</h2>

<form method="get" action="/datefilter{{ date }}">
   <p>Выберите дату</p>
   <label for="date"></label>
   <input type="date" name="date" id="date" min="2020-01-01">
    <input type="submit" class="button-grad" value="Отправить">
  </form>
<div>
    <script>
        function myFunction(del_id) {
            if (confirm("Уверены в том, что хотите удалить запись?")) {
                var result = 'delete/' + del_id + '?skip={{ skip }}&limit={{ limit }}';
                location.href = result;
            }
        }

    </script>
    {% for todo in todos %}
    {{ todo.fullname }}
    <div class="title">
        {% if todo.completed %}
        <strike>{{ todo.title }}</strike>
        {{todo.fulfill_datetime}}
        <small>
            <a href="edit/{{ todo.id }}?skip={{ skip }}&limit={{ limit }}">Редактировать</a>
            <a onclick="myFunction('{{ todo.id }}');">Удалить</a>
            <div class="container">
                <form id="myform{{ todo.id }}" action="/edit_complete/{{todo.id}}?skip={{ skip }}&limit={{ limit }}" method="post">
                    <label for="completed"><a onclick="document.getElementById('myform{{ todo.id }}').submit()">
                        <button type="submit" class="where">✅</button>
                            Выполнено</a>
                    </label>
                </form>

            </div>
        </small>
        {% else %}
        <div>{{ todo.title }}</div>
        {{todo.current_datetime}}
        <small>
            <a href="edit/{{ todo.id }}?skip={{ skip }}&limit={{ limit }}">Редактировать</a>
            <a onclick="myFunction('{{ todo.id }}');">Удалить</a>
            <div class="container">
                <form id="myform{{ todo.id }}" action="/edit_complete/{{todo.id}}?skip={{ skip }}&limit={{ limit }}" method="post">
                    <label for="completed">
                        <a onclick="document.getElementById('myform{{todo.id}}').submit()">
                            <button type="submit" class="where">❌</button>
                        <b>НЕ </b>
                        выполнено</a>
                    </label>

                </form>
            </div>
        </small>
        {% endif %}
    </div>
    </small>
</div>
{% endfor %}
</div>
{% if count > limit %}
<a
        {% if skip <= 0 %}
class="disabled"
{% endif %}
href="/list?skip={{ skip - limit }}&limit={{ limit }}" class="previous round">&#8249;
</a>
<a
        {% if count - limit <= skip %}
class="disabled"
{% endif %}
href="/list?skip={{ skip + limit }}&limit={{ limit }}" class="next round">&#8250;
</a>
{% endif %}
<form action="/list?skip={{ skip }}&limit={{ limit }}" method="post">
  <label for="name">Количество задач на странице </label>
  <input value="{{ limit }}" pattern="^[ 0-9]+$" type="text" name="new_limit">
    <button class="button" type="submit">Сохранить</button>
</form>
{% endblock content %}
