{% extends 'base.html' %}
{% block content %}
    {% if not sign_in %}
        <h2>Регистрация</h2>
        <form action="/sign_up" method="post">
            <div>
                <input class="user-input" type="text" name="username" id="name" placeholder="My name is"/>
            </div>
            <div>
                <input type="password" name="password" id="name" placeholder=""/>
            </div>
            <div>
                <input type="submit" value="Регистрация"/>
            </div>
        </form>
    {% endif %}

    {% if sign_in %}
        <h2>Авторизация</h2>
        <form action="/login" method="post">
            <div>
                <input class="user-input" type="text" name="username" id="name" placeholder="My name is"/>
            </div>
            <div>
                <input type="password" name="password" id="name" placeholder=""/>
            </div>
            <div>
                <input type="submit" value="Войти"/>
            </div>
        </form>
    {% endif %}
{% endblock content %}