{% extends 'base.html' %}

{% block content %}
<br><br>

{% if current_user %}
    <h1>Вы вошли как:</h1>
    <h2> Имя пользователя: {{ current_user.username }} </h2>
{% else %}
    <h2 style="color: red"> Пройдите авторизацию </h2>
{% endif %}
<br><br>
{% endblock content %}